<!DOCTYPE html>
<html>
  <head>
    <title>WebChat - version <%= version %></title>
    <link rel='stylesheet' href='/librairies/bootstrap/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container">
    <div class="jumbotron" style="padding-top: 30px; padding-bottom: 30px;">
      <h1 class="text-md-center">Welcom in WebChat</h1><br><hr><br>
      <p>My personnal project, consisting in developping a chat with only non-blocant technologies<br>
      and fast key-value database. For this i'll be using :<br>
      <ul><li><strong>NodeJS - ExpressJS</strong> for the html server.</li>
      <li><strong>JavaScript - VueJS</strong> for the client interactions.</li>
      <li><strong>CSS - BootStrap</strong> for the client design.</li>
      <li><strong>JavaScript - Socket.IO</strong> for the communication client-server.</li>
      <li><strong>DBMS - Redis</strong> for the database management.</li></ul></p>
      <div class="text-md-center"><a href="/demo" class="btn btn-primary">Check this Badass !<i class="glyphicon glyphicon-next"></i></a></div><br>
      <div class="text-muted" style="text-align: right;">Developped by <a href="http://cdekimpe.eu">Corentin Dekimpe</a></div>
    </div>
  </div>
  </body>
</html>
